.ValidationPopup {
-fx-border-radius: 10 10 10 0;
-fx-background-radius: 10 10 10 0;
-fx-background-color: #ffeeee;
-fx-text-fill: firebrick;
-fx-padding: 5;
-fx-border-color: firebrick;
-fx-border-style: solid;
-fx-border-width: 1;
-fx-font-weight: bold;
-fx-font-size: 12;
}

.ValidationPopupContainer {
    -fx-effect: dropshadow( gaussian , black , 10,0,0,0 );
}